<%- include('partials/head.ejs') %> 
<!-- Head meta data link -->

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include('partials/topheader.ejs') %> 
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">

                    <!-- Breaking News Widget -->

                    <%- include('partials/breaking-news-widget.ejs') %> 


                <!-- Hero Add -->
                <div class="col-12 col-lg-4">
                    <div class="hero-add">
                        <a href="#"><img src="img/bg-img/hero-add.gif" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->

    

    <!-- ##### Featured Post Area Start ##### -->
    <div class="featured-post-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="row">

                        <!-- Single Featured Post -->

                        <%- include('partials/single-feature.ejs') %> 

    <!-- ##### Featured Post Area End ##### -->

    <!-- ##### Popular News Area Start ##### -->

                <%- include('partials/single-post-pop.ejs') %> 


                        <!-- Single Post -->
                    

                        <!-- Single Post -->

                        <!-- Single Post -->

                        <!-- Single Post -->
        


                    <!-- Popular News Widget -->
                    <%- include('partials/news-widget.ejs') %> 

                    <!-- Newsletter Widget -->

                    <%- include('partials/newsletter-widget.ejs') %> 

    <!-- ##### Popular News Area End ##### -->

    <!-- ##### Video Post Area Start ##### -->
    <div class="video-post-area bg-img bg-overlay" style="background-image: url(img/bg-img/bg1.jpg);">
        <div class="container">
            <div class="row justify-content-center">

                <%- include('partials/single-post-small.ejs', {image: 'img/bg-img/video1.jpg'}) %>

                <%- include('partials/single-post-small.ejs', {image: 'img/bg-img/video2.jpg'}) %>

                <%- include('partials/single-post-small.ejs', {image: 'img/bg-img/video3.jpg'}) %>

            </div>
        </div>
    </div>
    <!-- ##### Video Post Area End ##### -->

    <!-- ##### Editorial Post Area Start ##### -->
    <div class="editors-pick-post-area section-padding-80-50">
        <div class="container">
            <div class="row">
                <!-- Editors Pick -->
                <div class="col-12 col-md-7 col-lg-9">
                    <div class="section-heading">
                        <h6>Editor’s Pick</h6>
                    </div>

                    <div class="row">

                        <%- include('partials/single-post-large.ejs', {image: 'img/bg-img/1.jpg'}) %>

                        <%- include('partials/single-post-large.ejs', {image: 'img/bg-img/2.jpg'}) %>

                        <%- include('partials/single-post-large.ejs', {image: 'img/bg-img/3.jpg'}) %>

                        <%- include('partials/single-post-large.ejs', {image: 'img/bg-img/4.jpg'}) %>

                        <%- include('partials/single-post-large.ejs', {image: 'img/bg-img/5.jpg'}) %>

                        <%- include('partials/single-post-large.ejs', {image: 'img/bg-img/6.jpg'}) %>

                    </div>
                </div>

                <!-- World News -->
                <div class="col-12 col-md-5 col-lg-3">
                    <div class="section-heading">
                        <h6>World News</h6>
                    </div>

                    <%- include('partials/single-post-small.ejs', {image: 'img/bg-img/7.jpg'}) %>

                    <%- include('partials/single-post-small.ejs', {image: 'img/bg-img/8.jpg'}) %>

                    <%- include('partials/single-post-small.ejs', {image: 'img/bg-img/9.jpg'}) %>
                    
                    <%- include('partials/single-post-small.ejs', {image: 'img/bg-img/10.jpg'}) %>

                    <%- include('partials/single-post-small.ejs', {image: 'img/bg-img/11.jpg'}) %>

                </div>
            </div>
        </div>
    </div>
    <!-- ##### Editorial Post Area End ##### -->

    <!-- Footer link -->
    <%- include('partials/footer.ejs') %> 

</body>

</html>